.risk_tolerance {
    text-align: center;
    justify-content: center;
    max-width: 60vw;
	position:relative;
	margin-left: auto;
    margin-right: auto;
    padding: 30px;
    overflow: auto;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    min-width: 300px;
    height: 400px;
    margin: 2vw;
    /*outline: 3px solid #747474;*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    background-color: #2D2E31;

    transition: .5s ease;
}

.scenario {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

a.box-clickable {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}



.box:hover {
    box-shadow:
        1px 1px #c79a20,
        2px 2px #c79a20,
        3px 3px #c79a20,
        4px 4px #c79a20,
        5px 5px #c79a20,
        6px 6px #c79a20;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}
