.side_bar_header {
    margin-left: 10%;
    padding: 10px;
    height: 40px;
  }
  

.side_bar_nav_icon {
    float: right;

    margin-top: -5%;
}

.side_bar_nav_icon_small {
    float: right;
    margin-top: -5%;
}

.side_bar_nav_icon:hover {
    color: #c79a20;
    }

.side_bar_nav_icon_small:hover {
    color: #c79a20;
}

.side_bar_nav_title {
    color: white;
    font-size: 20px;
    overflow: hidden;
}



.title_transition-enter {
    opacity: 0;
  }
.title_transition-enter-active {
    opacity: 0.1;
    transition: opacity 200ms;
  }
.title_transition-exit {
    opacity: 1;
  }
.title_transition-exit-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  
a.bottom_link:visited {
  color: #c79a20;
}

a.bottom_link {
  color: #c79a20;
}