.side_bar_header {
    margin-left: 10%;
    padding: 10px;
    height: 40px;
  }
  

.side_bar_nav_icon {
    float: right;

    margin-top: -5%;
}

.side_bar_nav_icon_small {
    float: right;
    margin-top: -5%;
}

.side_bar_nav_icon:hover {
    color: #c79a20;
    }

.side_bar_nav_icon_small:hover {
    color: #c79a20;
}

.side_bar_nav_title {
    color: white;
    font-size: 20px;
    overflow: hidden;
}

.body_transition-enter {
    margin-left: 270px;
}
  
.body_transition-enter-active {
    margin-left: 90px;
    transition: margin 200ms;
}

.body_transition-exit {
    margin-left: 90px !important;
}



