.App {
  text-align: center;
  height: 100%;
}

body {
  background-color: #212226;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side_bar_header {
  margin-left: 10%;
  padding: 10px;
  height: 40px;
}

li {
  list-style-type: none;
}

.sidebar {
  position: fixed;
  height:100%;
  top:0;
  left:0;
}


.bottom_link {
  margin-bottom: 15%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: #c79a20;
}

.side_bar_nav_icon {
  float: right;
  
  margin-top: -5%;
}

.side_bar_nav_icon_small {
  float: right;
  margin-top: -5%;
}

.side_bar_nav_icon:hover {
  color: #c79a20;
}

.side_bar_nav_icon_small:hover {
  color: #c79a20;
}

.side_bar_nav_title {
  color: white;
  font-size: 20px;
  overflow: hidden;
}


a:visited {
  color: #c79a20;
}

.small_icon {
  color: #c79a20;
}


.title_transition-enter {
  opacity: 0;
}
.title_transition-enter-active {
  opacity: 0.1;
  transition: opacity 200ms;
}
.title_transition-exit {
  opacity: 1;
}
.title_transition-exit-active {
  opacity: 1;
  transition: opacity 200ms;
}

.github_link {
  font-size: 24px;
}

.page_body {
  margin-left: 270px;
  width: auto;
  position: relative;
  overflow: auto;
}

.page_body_sidebar_min {
  margin-left: 80px;
  width: auto;
  position: relative;
  overflow: auto;
}


.body_transition-enter {
  opacity: 0;
}

.body_transition-enter-active {
  opacity: 0;
  transition: opacity 100ms;
}

.body_transition-exit {
  opacity: 0;
}

.body_transition-exit-active {
  opacity: 1;
  transition: opacity 100ms;
}

